:root{
    --vermelho: #e50914;
    --preto: #0c0c0c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--preto);
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: white;
}
header .container{
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start
}
/*header .logo{
    color: var(--vermelho);
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 32px;
}*/
header .logo-netflix{
    width: 92px;
}
header nav a{
    text-decoration: none;
    color: #e5e5e5;
    margin-right: 15px;
}
header nav a:hover{
    color: #b3b3b3;
}
header nav{
    margin-left: 45px;
}

/* Filme Principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/img/capa-lcdp-4.jpg');
    height: 90vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.descricao{
    margin-top: 15px;
    margin-bottom: 40px;
}
.titulo{
    font-size: 30px;
    margin-top: 10%;
}
.btn-assistir{
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
}
.btn-assistir:hover{
    background-color: rgba(255, 255, 255, 0.75);
    transition: .2s ease all;
}
.btn-info{
    background-color: rgba(109, 109, 110, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    margin-left: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}
.btn-info:hover{
    background-color: rgba(109, 109, 110, 0.4);
    transition: .2s ease all;
}
i{
    margin-right: 10px;
}
.filme-principal .container{
    padding-left: 60px;
    width: 50%;
}
.box-filme{
    height: 50%;
    width: 100%;
    display: block;
    border-radius: 5px;
}
.carrossel-filmes{
    margin-top: -60px;
    margin-bottom: 100px;
}
.carrossel-filmes .titulo-carrossel{
    padding-left: 60px;
    margin-bottom: 15px;
    font-size: 18px;
}
